### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Binaries for programs and plugins
axon-server-cli
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# config files
*.yaml